[submodule "dot_config/tmux/plugins/tpm"]
  path = submodules/tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm
[submodule "dot_config/tmux/plugins/tmux-resurrect"]
  path = submodules/tmux/plugins/tmux-resurrect
  url = https://github.com/tmux-plugins/tmux-resurrect
