[include]
  path = ~/.config/.delta-themes.gitconfig
[user]
	name = Will Graham
	email = will.graham@sdl.usu.edu
	signingkey = 0CBBB7AB5017FE81169D3025CDE4078BBAC821F8
[commit]
	gpgsign = true

; COMMON STUFF
[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
	cmd = "nvim -d $LOCAL $REMOTE $MERGED"
; [difftool "vscode"]
; 	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
  tool = nvimdiff
  conflict-style = diff3
; [mergetool "vscode"]
;   cmd = code --wait $MERGED

[mergetool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[rebasetool]
    tool = nvimdiff
[alias]
	ff = "! git rebase -i \"`git merge-base develop HEAD`\""
	forkpoint = merge-base HEAD develop
	uts = "! GIT_COMMITTER_DATE=\"`date`\" && git commit --amend --no-edit"
	suir = "submodule update --init --recursive"
  srr = "submodule sync --recursive"
  tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  trees = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  lg = trees

[safe]
	directory = .
[core]
	editor = nvim
	pager = delta
  excludesfile = ~/.gitignore-excludesfile
[rebase]
	autosquash = true
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  navigate = true
  ; side-by-side = true
  light = false
  true-color = always
  features = colibri
[pager]
  blame = delta
  diff = delta
  reflog = delta
  show = delta
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
